<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Short Bio</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  
  
  I received my Bachelor's degree in Computer Science from <a href="https://www.di.uoa.gr/en" {% if site.style == 'dark' %}class="text-white"{% endif %}> National and Kapodistrian University of Athens>/a> in 2020.<br />
  Recently, I completed my Bachelor Thesis in Robotics and AI. I developed a Leader-Follower Scheme of two Mobile Robots using an RGB-D camera and MobileNetV2 detection system. I was fortuante enough <br />
  
  
  
  
  
  
</p>
</div>
