<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Short Bio</h2>
<br/>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  
  
  I received my Bachelor's degree in Computer Science from <a href="https://www.di.uoa.gr/en"> National and Kapodistrian University of Athens</a> in 2020.<br /><br />
  Recently, I completed my <a href="https://github.com/PetropoulakisPanagiotis/BSc_thesis"> Bachelor Thesis</a> in Robotics and AI. I developed a Leader-Follower Scheme of two Mobile Robots using an RGB-D camera and MobileNetV2 detection system. I was fortunate enough to co-supervised by <a href="http://www.mech.ntua.gr/en/kyriakopoulos">Prof. Konstantinos J. Kyriakopoulos</a> and <a href="http://cgi.di.uoa.gr/~emiris/index-eng.html">Prof. Ioannis Emiris</a>. I was also a member of <a href="http://www.controlsystemslab.gr/main/">Control Systems Laboratory</a> at National and Technical University of Athens (School of Mechanical Engineering) for 1.5 years.    
  
  
  
  
  
  
</p>
</div>
